.appname{
  color:rgb(136, 109, 54);
  font-size: 2rem;
  margin: 0px 20px;
}
.navbar{
  display:flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  position: absolute;
  top:0px;
  width: 100%;
  font-family: monospace;
  height: 30px;
  color:rgb(241, 231, 211);
  padding: 10px 0px;
}
.navbar-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-right{
  display: flex;
  justify-content: flex-end;


}
.navbar-link{
  color:black;
  margin: 0px 20px;
}
/* button styling */
.nav-button{
  font-family: monospace;
  background-color: transparent;
  padding: 5px 15px;
  border:none;
  background-color: rgb(241, 231, 211);
  transition-delay: background-color 0.2s ease-in-out 0.5s;
  border-radius: 5px;
  margin: 0px 20px;
}
.navbar-link:hover,.nav-button:hover{
  cursor: pointer;
  color: rgb(79, 53, 1);
  border: 2px solid rgb(79, 53, 1);
  padding: 5px 15px;
}

.button{ 
  font-family: monospace;
  background-color: transparent;
  padding: 5px 15px;
  border:none;
  background-color: rgb(241, 231, 211);
  transition-delay: background-color 0.2s ease-in-out 0.5s;
  border-radius: 5px;
}
.button:hover{
  border: 2px solid rgb(79, 53, 1);
  color: rgb(79, 53, 1);
}
.new-entry-button,.back-to-albums-button{
  font-family: monospace;
  background-color: transparent;
  padding: 5px 15px;
  border:none;
  background-color: rgb(241, 231, 211);
  transition-delay: background-color 0.2s ease-in-out 0.5s;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
}
.editchild-button{
  border-radius: 0%;
  background-color: none;
  padding: 10px;
}
.editchild-button:hover,.navbar-link:hover,.new-entry-button:hover,.back-to-albums-button{
  border-radius: 0%;
  background-color: rgb(241, 231, 211);
  border-style: none;
  padding: 10px;
  color:black;
  border:none ;
  font-family: monospace;
  cursor: pointer;
}

/* API card */
.api-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* namefinder and result card */
.namefinder-card,.quote-card{
  display: flex;
  /* flex-direction: column; */
  margin-top: 80px;
  font-family: monospace;
  padding: 40px;
  width: 45%;
  justify-content: center;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 204);


}
.finder-input{
  display: block;
  padding: 4px 0px;
  width: 90%;
  margin: 10px;
 
  color: rgb(204, 204, 204);
  border-radius: 4px;
}
.lyrics{
  border: solid 1px rgb(204, 204, 204);
}
.nameidea-form,.quote-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 2px  rgb(136, 109, 54);
  border: none;
  padding:15px 20px;
  margin:10px 0px;
}
.names-result{
  display: flex;
  flex-direction: column;
  font-family: monospace;
  color:rgb(136, 109, 54);
  justify-content: center;
  border: 1px solid rgb(204, 204, 204);;
  border-radius: 10px;
  padding:15px 20px;
  margin:10px 20px;
}
.name-list{
  color:rgb(204, 204, 204);
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-wrap: wrap;
  
}

.author{
  font-size: 0.1rem;
}
.child-card{
  display: flex;
  flex-direction: row;
  margin: 0px 20px;

  }
.api-title{
  color:rgb(136, 109, 54);
  font-size: 1rem;
}
.child-display{
  padding: 30px;
  text-align: center;
  font-family: monospace;
}

.child-content,.add-child{
  padding: 30px;
  text-align: center;
  font-family: monospace;
  color: rgb(241, 231, 211)
}
.child-content{
  color:black;
}
.addChild-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  font-size: 3rem;
  border:solid rgb(241, 231, 211) 1px ;
  font-family: monospace;
  color:rgb(241, 231, 211);
  text-align: center;
  text-decoration: none;
}
.addChild-button:hover{
  background-color: rgb(241, 231, 211);
  color: white;
}

.profile-photo{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
/* album  */
.album-display{
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.album-title{
  font-family: monospace;
  margin: 10px 50px ;
}
.back-to-child-button{
  font-family: monospace;
  margin: 10px 50px ;
  text-decoration: none;
}

.album_name{
  font-family: monospace;
  padding: 40px 50px;
  margin: 30px;
  color: black;
 
  background-color: rgb(241, 231, 211);
  box-shadow: 0px 0px 1px rgb(79, 53, 1);
}
.add-album{
  font-family: monospace;
  margin: 30px;
  text-decoration: none;
  padding: 50px 50px;
  color: white;
  background-color: rgb(241, 231, 211);
  box-shadow: 0px 0px 1px rgb(241, 231, 211);
}
.album_name:hover,.add-album:hover{
  font-family: monospace;
  padding: 40px 50px;
  background-color: rgb(241, 231, 211);
  cursor: pointer;
  color: rgb(79, 53, 1);
  border: 2px solid rgb(79, 53, 1);
}

.add-album:hover{
  font-family: monospace;
  padding: 50px 50px;
  background-color: rgb(241, 231, 211);
  cursor: pointer;
  color: rgb(79, 53, 1);
  border: 2px solid rgb(79, 53, 1);
}

/* card-content */
.album-gallery{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(100px,300px));
  justify-content: center;
}
.single_entry{
  font-family: monospace;
}
#img-title{
  font-size: 1.5rem;
  color:rgb(136, 109, 54);
  font-weight: 400;
}

.entry-image {

  width: 100%;
  padding:5px;
  object-fit: cover;
  border-radius: 15px;
}
/* entry form */
#newEntry-form,#newAlbum-form, #addChild-form{
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin: 0 auto;
  width: 80%;
  border: solid 1px rgb(241, 231, 211);
  border-radius: 15px;
  padding: 15px;
}

#newEntry-form label {
  margin-bottom: 0.5rem;
}
.modal-title {
  font-family: monospace;
  color:rgb(79, 53, 1);
}

#newEntry-form input[type="text"],
#newEntry-form input[type="file"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(241, 231, 211);
  width: 100%;
  box-sizing: border-box;
}

.modal-footer button {
  font-family: monospace;
  background-color: transparent;
  padding: 5px 15px;
  border:none;
  background-color: rgb(241, 231, 211);
  transition-delay: background-color 0.2s ease-in-out 0.5s;
  border-radius: 5px;
}
.modal-footer button:hover{
  
  
  background-color: rgb(241, 231, 211);
  cursor: pointer;
  color: rgb(79, 53, 1);
  border: 2px solid rgb(79, 53, 1);
}